*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* container */
.container {
  /* border: 2px solid red; */
  background-color: black;
  min-height: 100vh;
  color: white;
}

/* transformers text */
.titletext {
  padding-inline: 4rem;
  font-size: 1.1rem;
  margin-block-end: 2.5rem;
}

/* first section transformer Monitor */
.monitorContainer {
  /* border: 2px solid red; */
  padding-inline: 4rem;
  min-height: 20rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
/* this applies to al 3 cards */
.info {
  width: 30%;
  /* border: 2px solid orangered; */
  border-radius: 2rem;
}

/* first card (add transformer card) */
.addcontainer {
  padding-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1rem;
}
.addcontainer > h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}
.addcontainer > p {
  font-size: 1.2rem;
}

/* button styling */
.buttonwrapper {
  display: flex;
  cursor: pointer;
}

button:hover ~ span {
  transform: translate3d(1.3rem, 0, 0) rotate(0deg);
}
button {
  background-image: url(/assets/images/Addtransformer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 45%;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100vw;
  background-color: #d0ff71;
  margin-inline-start: -0.5rem;
  transform: rotate(-45deg);
  transition: transform 0.5s ease-in-out;
}

/* high voltage and lowvoltage card */

.voltage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 3rem;

  gap: 1rem;
  background-color: #232222;
}
.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.volticonwrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4949;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100vw;
}

.transformerInfo {
  height: 40%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transformernumber > h1 {
  font-size: 3.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update {
  width: 50%;
  flex-shrink: 0;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: #1b1a1a;
  border: 1px solid #2d2d2d;
}

.arrowwrapp > span {
  background-color: #1b1a1a;
  transform: rotate(-5deg);
  border: 1px solid #2d2d2d;
}
